/* -------- About us --------*/
.about {
  text-align: left;
}
.about p {
  padding: 1rem 0;
}
.about img {
  float: right;
  height: 20rem;
  width: 30rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  object-fit: cover;
}
/* -------- Vision Cards --------*/
.vision {
  padding: 10rem 0;
}

.vision-card {
  background-color: transparent;
  height: 30rem;
  width: 28rem;
  perspective: 1000px;
}

.vision-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.vision-card:hover .vision-card-inner {
  transform: rotateY(180deg);
}

.vision-card-front,
.vision-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.vision-card-front {
  /* background-color: #f95454; */
  background: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(144, 15, 15, 0.6),
      rgba(144, 15, 15, 0.6)
    ),
    url("../images/bg-2.JPG");
}

.vision-card-front h3 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.vision-card-back {
  background-color: #c62e2e;
  transform: rotateY(180deg);
}

.vision-card-back p {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 5rem;
  text-align: left;
}
