.vision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.vision-card {
  background-color: transparent;
  height: 30rem;
  width: 20rem;
  margin: 1rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.vision-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.vision-card:hover .vision-card-inner {
  transform: rotateY(180deg);
}

.vision-card-front,
.vision-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.vision-card-front {
  background-color: gray;
  color: white;
}

.vision-card-back {
  background-color: #1e1e1e;
  color: white;
  transform: rotateY(180deg);
}

.content-section {
  padding: 3rem 6rem;
}

.content-section.dark-bg {
  background-color: #1e1e1e;
  color: white;
}

.text-content {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.campus-image {
  width: 90%;
  max-width: 800px;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
