#mid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#content {
  max-width: 800px;
  text-align: left;
}

#content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#content h3 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: center;
}

.programmes h2 {
  text-align: center;
  font-size: 2.5rem;
}

.slider {
  position: relative;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 20%;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slide-content {
  padding: 1rem;
  background-color: white;
  text-align: center;
}

.slide h4 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: red;
}

.slide p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slide:nth-child(3) {
  transform: scale(1.2);
  z-index: 1;
}
