/* Map */
.map iframe {
  width: 100%;
  height: 30rem;
}

/* contact */
.contact {
}
.sub-title {
  margin-top: 0;
}
.contact-info {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1.5rem 8rem;
  font-size: 1.5rem;
}
.contact-info i {
  padding: 0 1.5rem;
  font-size: 2rem;
}

.input-group {
  margin-top: 1.5rem;
}
.input-group span {
  color: red;
  font-size: 1.2rem;
}

.input-group label {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: #1f2937;
  text-align: left;
}
.input-group input {
  margin: 0.5rem auto;
  width: 100%;
  padding: 0.6rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  box-sizing: border-box;
  font-size: 1rem;
}
.input-group input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.input-group textarea {
  margin: 0.5rem auto;
  width: 100%;
  height: 10rem;
  padding: 0.6rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  box-sizing: border-box;
  font-size: 1rem;
  resize: none;
}

.input-group textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  background-color: #ed5757;
}

.submit-button:hover {
  background-color: #ee8989;
  color: white;
  text-decoration: none;
}
