body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  background: url("../images/img-1.jpg") no-repeat center;
  background-size: cover;
}
.dark-bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}

/*  NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
}
.logo {
  color: #ff7373;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.logo img {
  height: 8rem;
  width: 8rem;
  filter: brightness(0) saturate(100%) invert(41%) sepia(100%) saturate(500%)
    hue-rotate(320deg) brightness(100%) contrast(100%);
}
.labels {
  display: flex;
  align-items: center;
}
.labels a {
  padding: 0 1.5rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}
.labels a:hover {
  background-color: #ed5757;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

/* BANNER */
#banner {
  /* background: url("../images/img-1.jpg") no-repeat center;
  background-size: cover; */
  color: white;
  height: 40rem;
}

.banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  height: 100%;
  width: 30%;
  padding: 0 4rem;
}

.banner-content h1 {
  font-weight: 900;
  font-size: 4rem;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner-content p {
  padding: 1rem 0;
}

button {
  background: #ed5757;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.5rem 2rem;
  text-decoration: none;
  border: 0;
  margin: 1rem 0;
}

button:hover {
  background: #ff8c8c;
  text-decoration: none;
}

/* Form Styles */
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
